<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binyamin.android5778_0445_7734_01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.AddClientActivity"
            android:label="@string/title_activity_add_client"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.ClientListActivity"
            android:label="Client List"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.AddCarModelActivity"
            android:label="Add Car Model"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.AddBranchActivity"
            android:label="Add Branch"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.BranchListActivity"
            android:label="List of Branches"
            android:parentActivityName=".controller.MainActivity" />
        <activity
            android:name=".controller.CarModelListActivity"
            android:label="@string/title_activity_car_model_list"
            android:parentActivityName=".controller.MainActivity">
        </activity>
    </application>

</manifest>